body::-webkit-scrollbar, body::-webkit-scrollbar-button {
    display: none; 
}

body {
    background-color:rgb(15, 20, 29);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: coral;
}
.main * {
    padding-left: 1.2rem;
}

.navbar {
    background-color: rgb(43, 63, 100);
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 18px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

hr {
    border-color: rgb(95, 165, 167);
    border-width: 0.2rem;
    border-radius: 2rem;
}

.main {
    padding: 2rem;
    color: coral;
    background-color: rgb(32, 43, 63);
    border-width: 0.2rem;
    border-radius: 2rem;
}

.container * {
    padding-left: 2rem;
}

.profile * {
    display: inline-block;
}

.container a, a:visited {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.container li:hover a {
    font-weight: bold;
    background-color: rgb(50, 63, 74);
    border-radius: 1.2rem;
    /* margin-right: 65rem; */
}

.main .card a::before {
    content: "> ";
    color: coral;
}

ul {
    list-style-type: none;
}

.location {
    color: white;
    border-radius: 1rem;
    padding: 0.3rem;
    text-decoration: none;
}

select {
    background-color: transparent;
    border-radius: 0%;
}
option:hover {
    background-color: transparent;
}

#locationTag {
    display: none;
}

.JC2 {
    color: black;
    background-color: lime;
}
.JC3 {
    background-color: green;
}

.Fen2 {
    color: black;
    background-color: rgb(255, 234, 0);
}
.Fen3 {
    color: black;
    background-color: gold;
}
.Fen4 {
    background-color: goldenrod;
}

.Horizon, .Planetary, .Innovation {
    background-color: azure;
    color: black;
}