<!DOCTYPE html>
<html>
  <head>
  <title>Home - Fenwick</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <h2><a href="/home">Home</a></h2>
        <h2><a href="/profile">Profile</a></h2>
      </div>
      <hr>

      <div class="container">
        <ul class="card">
          {% for user in users %}
            <li>
              <a href="/user/{{ user.username }}">
                @{{ user.username }}: <span class="location {{ user.loc }}">{{ user.loc }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
        </div>
    </div>
  </body>
</html>
