<!DOCTYPE html>
<html>
  <head>
  <title>Login - Cascades</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <h2><a href="/home">Home</a></h2>
        <h2><a href="/signup">Sign up</a></h2>
      </div>
    
      <h2>Login</h2>
      
      <form method="POST">
        <input name="username" placeholder="username">
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
