<!DOCTYPE html>
<html>
  <head>
  <title>Profile - Fenwick</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <a href="/home"><h1>Home</h1></a>

    <h2><strong>{{ user.name }}</strong> @({{ user.username }}) </h2>
    <p>Email: {{ user.email }}</p>

    <form method="POST">
      <label for="location"></label>
      <select class="location" name="location">
        <option value="JC2">JC2</option>
        <option value="JC3">JC3</option>
        <option value="Fen2">Fenwick 2</option>
        <option value="Fen3">Fenwick 3</option>
        <option value="Fen4">Fenwick 4</option>
      </select>
      <input type="submit">
    </form>

    <p>{{ user.loc }}</p>

    <a href="/logout">Logout</a>
  </body>
</html>
